body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: white;
    background-image: linear-gradient(to bottom, red, orange, yellow, green, blue, indigo, violet);
    background-size: 100px 100%;
    background-repeat: repeat-x;
}

.blue-banner {
    background-color: #20ACF1;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.blue-banner h1 {
    font-size: 2.5em;
    margin: 0;
}

.blue-banner h2 {
    font-size: 1.5em;
    margin: 0;
}

.blue-banner nav {
    margin-top: 20px;
}

.blue-banner nav a {
    margin: 0 20px; /* Increased spacing */
    text-decoration: none;
    color: white;
    transition: color 0.3s, background-color 0.3s; /* Added background transition */
    padding: 5px 10px; /* Added padding */
    border-radius: 5px; /* Added for visual appeal */
}

.blue-banner nav a:hover, .blue-banner nav a:focus {
    color: #dddddd;
    background-color: rgba(255, 255, 255, 0.2); /* Added background hover effect */
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 10%;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.avatar {
    max-width: 200px;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added subtle shadow */
}

.about-me {
    max-width: 50%;
    font-family: 'Georgia', serif; /* Changed font for a personal touch */
}

footer {
    text-align: center;
    margin: 20px 0;
}

footer a {
    color: #20ACF1;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover, footer a:focus {
    color: #005882; /* Darkened blue for hover effect */
}

@media only screen and (max-width: 768px) {
    main {
        flex-direction: column;
        margin: 20px 5%;
    }

    .avatar {
        margin-right: 0;
        margin-bottom: 20px;
        max-width: 150px;
    }

    .about-me {
        max-width: 100%;
        text-align: center;
    }

    .blue-banner h1, .blue-banner h2, .blue-banner nav a {
        font-size: 90%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .blue-banner h1, .blue-banner h2, .blue-banner nav a {
        font-size: 95%;
    }
}
